{% extends 'base.html' %}

{% block content %}

<div class="contact">
  <h3>Want to tell us something?</h3>
  <form action="/" method="post">
    <div class="input-field">
      <label for="name">Name</label>
      <input id="name" name="name" type="text" placeholder="Your name" required>
    </div>
    <div class="input-field">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Your email" required>
    </div>
    <div class="input-field">
      <label for="message">Message</label>
      <textarea name="message" required placeholder="Your message"></textarea>
    </div>
    <button type="submit">Send</button>
  </form>
</div>

{% endblock %}