{% extends 'base.html' %}

{% block content %}

<div class="book-container">

  <h2 class="head-line">Advisors</h2>

  {% for member in advisors %}
  <a href="/members/{{member.id}}/details">
    <div class="book-card" style="background-image: url({{ member.photo.url }});">
      <div class="book-details">
        <h3>{{ member.name }}</h3>
        <p>{{ member.designation }}</p>
      </div>
    </div>
  </a>
  {% endfor %}



  <h2 class="head-line">Committee</h2>

  {% for member in committee %}
  <a href="/members/{{member.id}}/details">
    <div class="book-card" style="background-image: url({{ member.photo.url }});">
      <div class="book-details">
        <h3>{{ member.name }}</h3>
        <p>{{ member.designation }}</p>
      </div>
    </div>
  </a>
  {% endfor %}



  <h2 class="head-line">Members</h2>

  {% for member in members %}
  <a href="/members/{{member.id}}/details">
    <div class="book-card" style="background-image: url({{ member.photo.url }});">
      <div class="book-details">
        <h3>{{ member.name }}</h3>
        <p>{{ member.designation }}</p>
      </div>
    </div>
  </a>
  {% endfor %}

</div>

{% endblock %}