{% extends 'base.html' %}

{% block content %}

<div class="members content">

  <h2 class="head-line">Advisors</h2>
  <div class="member-container">
    {% for member in advisors %}
    <a href="/members/{{member.id}}/details">
      <div class="member-card" style="background-image: url({{ member.photo.url }});">
        <div class="member-details">
          <h3>{{ member.name }}</h3>
          <p>{{ member.designation }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>

  <h2 class="head-line">Committee</h2>
  <div class="member-container">
    {% for member in committee %}
    <a href="/members/{{member.id}}/details">
      <div class="member-card" style="background-image: url({{ member.photo.url }});">
        <div class="member-details">
          <h3>{{ member.name }}</h3>
          <p>{{ member.designation }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>


  <h2 class="head-line">Members</h2>
  <div class="member-container member">
    {% for member in members %}
    <a href="/members/{{member.id}}/details">
      <div class="member-card" style="background-image: url({{ member.photo.url }});">
        <div class="member-details">
          <h3>{{ member.name }}</h3>
          <p>{{ member.designation }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}